html{
     scroll-behavior: smooth;
}


body{
     font-family: 'Titillium Web', sans-serif;
}

.home-section {
    padding-top: 4%;
    padding-bottom: 3%;
    background: linear-gradient(rgba(65, 201, 236 ,0.8),rgba(16, 81, 184 ,0.7)),url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;

}


.about-section{
    align-content: center;
    background-color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;


}

.estudiante {
    width: 250px;
    height: 250px;
}

.thumbnail {
    text-align: center;
    background-color: #6DC2F0 ;
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 1%;
    border-style: solid;
    border-width: 3px;
    border-color: #48AAE0  ;
    border-radius: 0%;
    box-shadow: 7px 7px 15px  #12628E;
}

h3 {
    color: white;
}

a .fab {
    color: #12628E ;
    font-size: 30px;
    margin: 0 10px;
}

.titleAbout {

  display: inline-block;
  color: #898C8D ;
  font-family: 'Titillium Web', sans-serif;
  font-size: 35px; 
  font-weight: bolder;
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
 

.login-section{
    background-color: #A8E5F4;
    opacity:.7;

}

.logo{
    width: 40%;
    height: 40%;
    margin: 0px auto;
	display:block;
}

.icono {
    padding-left: 0;
    height: 50px;
    margin-top: 2px;
    
}

.responsiva{
width: 600px; 
margin-left: 250px; 
margin-top: 50px;
}

.titulo{
    margin-top:-50px;
}

.subtitulo{
   margin-left:90px;
   font-weight: bolder;
}

.jumbotron{
    margin: 30px 0px 50px 0px;
 
}

.formulario{
    margin-left:50px;
    width: 70%;

}

.boton-ingresar{
    width:350px;
}

.olvidar-contraseña{
    margin-left: 200px;
}

span{
    font-weight: bolder;
    margin: 0px auto;
	display:block;
    text-align: center;
    margin-bottom: 8px;
}

.form-control{
    height: 50px;
}

.dato{
    font-size: 30px;
}

.datos-materia{
  
}

hr{
    margin-bottom: 0px;
}